body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;  
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(43, 43, 43, 0.308);
  padding: 20px ;
  margin: 0;
}

#heaimg3{
  margin-left: 51%;
}
#navbarNav{
  margin-left: 6%;
}
.navbar-toggler{
  background-color: rgba(255, 255, 255, 0.744);
} 
#enlaces1{
  display: flex;
  gap: 80px;
margin-left: 5%;
}
#enlaces{
  color: white;
  font-size: 1.2em;
transition: all 0.2s ease-in-out;
text-decoration: none;
}
#enlaces:hover{
border-bottom: 3px solid rgb(35, 105, 255);

}
#enlaces3{
border-bottom:3px solid rgb(35, 163, 255);
color: white;
font-size: 1.2em;
font-weight: 700;
transition: all 0.3s ease-in-out;
text-decoration: none;
}

#heaimg1{
  width: 30px;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

#heaimg1:hover{
transform: scale(1.2);

}

#img2 {
  width: 60px;
}
#heaimg3{
  width: 50px;

}
.container{
  margin-top: 10%;
  width: 80%;
}
.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 15px 0;
}

#nombre{
  color: black ;
}

.product-img {
  width: 120px;
  border-radius: 10px;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
}

.price, .total-price {
  font-weight: bold;
  color: #2369ff;
}


.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-value {
  font-size: 1.2em;
  font-weight: bold;
}
.total-price{
  margin-left: 2%;
}



footer {
  background-color: #383838;
  width: 100%;
  height: auto;     
  position: relative; 

}
#redes{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}
#rede2{
  width: 35px;
  height: 30px;
}
h3 {
  margin-top: 40px;
  text-align: center;
  color: white;
}
#texto5{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.6em;
  color: white;
  width: 70%;
margin-left: 15%;
}
#form2 {
margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 100px;
  margin-left: 100px;

}
#boton3{
  background-color: rgb(5, 82, 249);
  color: #fff; 
  border: none;
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
#boton3:hover{
  background-color: rgb(70, 162, 254);

}
.form-group {
  margin-bottom: 10px;
}

.texto{
display: flex;
justify-content: center;
}
label {
  font-size: 1.1rem;
  color: #ddd; 
  margin-bottom: 8px;
  display: block;
}


footer input[type="text"], 
footer input[type="email"], 
footer input[type="date"], 
footer input[type="tel"], 
footer select, 
footer textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #575656; 
  border: 1px solid #444; 
  border-radius: 5px;
  font-size: 1rem;
  color: rgb(204, 204, 204);
}
#logofooter{
  position: absolute;
  width: 10%;
  left: 0; 
  bottom: 0; 
}
.precioFinal{
  display: flex;
  justify-content: end;
  width: 100%;
  font-weight: bold;
  color: #2369ff;
font-size: 20px;
}